#stream {
    width: 500px;
}

#submit {
	width: 80px;
}

#pwrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

.center-wrap {
	text-align: center;
}

#location {
	width: 434px;
	height: 250px;
	/*background-color: purple;*/
	margin-top: 20px;
	display: inline-block;
}

#messages {
	margin-top: 20px;
}

#message {
	width: 350px;
	display: inline-block;
}

#history {
	border: gray 1px solid;
	border-radius: 2px;
	height: 200px;
	width: 434px;
	display: inline-block;
}

#connect-info {
	margin-top: 25px;
	display: inline-block;
}

.icon {
	height: 25px;
	width: 25px;
	margin-left: 15px;
	margin-right: 15px;
}

#duration {
	margin-left: 15px;
}