body {
  background-color: #e8eaf6;
  height: 100vh;
}

nav {
  height: 50px;
}

nav .brand-logo {
  font-size: 1.7rem;
}

.stream-placeholder {
  color: #696969;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.full-height {
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  padding-top: 15%;
}

.content.padding {
  padding: 25% 10% 5% 10%;
}

.message.padding {
  padding: 5% 10% 5% 10%;
}

nav {
  position: fixed;
}

.row {
  margin-bottom: 0;
}

.attribution {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5px;
}
