#glass-wrapper {
    margin-top: 40px;
    margin-left: 30px;
    width: 540px;
}

#paper-wrapper {
    margin-top: 30px;
    margin-left: 30px;
    width: 320px;
}

#map {
    margin-top: 90px;
    width: 350px;
    height: 250px;
    display: inline-block;
}
/* current displaced by size of circle */
#tap-indicator {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: blue;
    opacity: 0.4;
    z-index: 1234;
    position: relative;
    top: -460px;
    left: 0px;
    display: none;
}