<template name="cc">
  <nav>
    <div class="nav-wrapper light-blue darken-2">
      <a href="#" class="brand-logo center">MF-RPPT Control Center</a>
    </div>
  </nav>

  <div class="row full-height">
    <div class="col l3 center center-vertical full-height">
      <div class="content padding">
        <div id="stream-key">
          <h5>
            Stream Key: <span class="amber-text text-darken-4">{{ sessionKey }}</span>
          </h5>
        </div>
        <button id="camera-button">
          <span class="fa fa-video-camera">Toggle Detection</span>
        </button>
        <div id="publisher"></div>
        <video id="video-stream"></video>
        <canvas id="video-canvas" width="1280" height="720"></canvas>
      </div>
    </div>

    <div class="col l5 center full-height">
      <div class="content">
        <h3>Phone Stream</h3>
        {{> paperStream}}
      </div>
    </div>

    <div class="col l4 center center-vertical full-height paper-col">
      <div class="content">
        {{> taskSetter}}
        <div class="message padding">
          <h3>User messages</h3>
          <div id="message-container"></div>
        </div>
        {{> map}}
      </div>
    </div>
  </div>

</template>
