<template name="cc">

  <div class="container-fluid full-height">
    <div class="row full-height">
      <div class="col-md-4 center-content full-height">
        {{> paperStream}}
      </div>
      <div class="col-md-5 center-content full-height">
        <div>
          {{> taskSetter}}
          {{> alert}}
          {{> glassStream}}
          <h1>
            <strong>
            {{#if sessionKey}}
              iOS Key: {{sessionKey}}
            {{else}}
              <span class="text-green">connected</span>
            {{/if}}
            </strong>
          </h1>
        </div>
      </div>
      <div class="col-md-3 center-content full-height">
        {{> map}}
      </div>
    </div>
  </div>
</template>
