@charset "utf-8";

body {
   background-color: #fff;
}


.content {
   text-align: center;
}


#video-canvas {
  position: absolute;
  border: 1px solid black;
  background-color: transparent;
  top: 20px;
  left: 20px;
}


#video-stream {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ccc;
  opacity: 0;
}


#scan-message {
  position: absolute;
  padding: 10px;
  width: 800px;
  height: 25px;
  font-size: 18pt;
  font-family: sans-serif;
  color: #333;
  text-align: left;
  bottom: 20px;
  left: 100px;
  transition: opacity .25s ease-in-out;
}


button {
  border: none;
  outline: none;
  width: 120px;
  height: 50px;
  background-position: 0 0;
  background-color: rgb(0, 180, 255);
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 0 5px;
}


#camera-button {
  position: absolute;
  font-size: 30px;
  top: 25px;
  left: 25px;
  color: white;
}
#camera-button:active { color: rgba(255, 255, 255, 0.5); }
